@using AntDesign
@using AntDesign.ProLayout
@inject Microsoft.Extensions.Localization.IStringLocalizer<BlazeGate.RBAC.Components.Resources.I18n> L

<Modal Title="@Title" Width="700" Visible="@Visible" ConfirmLoading=Loading OnOk="()=>{Form.Submit();}" OnCancel="()=>{Visible=false;}" MaskClosable=false DestroyOnClose>
    <Form @ref="Form" Model="UserRoleSave" Size="@FormSize.Default" ValidateMode="@FormValidateMode.Complex" OnFinish="OnFinish" LabelColSpan="4" Loading=Loading>
        <FormItem Label="@L["userRole.edit.userName"]">
            <Select Disabled="!UserRoleSave.IsAdd"
                    DataSource="UserInfoList"
                    @bind-Value="UserRoleSave.UserId"
                    EnableSearch
                    ValueName="@nameof(BlazeGate.Model.WebApi.Response.UserInfo.Id)"
                    LabelName='@nameof(BlazeGate.Model.WebApi.Response.UserInfo.UserName)'
                    TItemValue="long?"
                    TItem="BlazeGate.Model.WebApi.Response.UserInfo"
                    SearchDebounceMilliseconds="350"
                    Loading="SearchLoading"
                    OnSearch="async (value) => await OnSearch(value)">
                <LabelTemplate Context="item">
                    @($"{item.UserName} ({item.Account})")
                </LabelTemplate>
                <ItemTemplate Context="item">
                    @($"{item.UserName} ({item.Account})")
                </ItemTemplate>
            </Select>
        </FormItem>
        <FormItem Label="@L["userRole.edit.role"]">
            <Select Mode="SelectMode.Multiple"
                    TItem="BlazeGate.Model.EFCore.Role"
                    TItemValue="long"
                    DataSource="Roles"
                    @bind-Values="UserRoleSave.RoleIds"
                    LabelName="@nameof(BlazeGate.Model.EFCore.Role.RoleName)"
                    ValueName="@nameof(BlazeGate.Model.EFCore.Role.Id)">
            </Select>
        </FormItem>
    </Form>
</Modal>


