@using BlazeGate.Dashboard.Components.Layout
@using BlazeGate.Dashboard.Components.Share
@using Microsoft.AspNetCore.Authorization
@inject Microsoft.Extensions.Localization.IStringLocalizer<BlazeGate.Dashboard.Resources.I18n> L
@layout UserLayout
@page "/Account/Login"
@attribute [AllowAnonymous]

<div class="main__b__0">
    <div class="login">
        <Form Loading="_loading" Model="@_model" OnFinish="HandleSubmit">
            <FormItem Label="@L["account.login.username"]" LabelStyle="display: none">
                <AntDesign.Input Placeholder="@L["account.login.username"]" Size="InputSize.Large" @bind-Value="@context.UserName">
                    <Prefix><Icon Type="user" /></Prefix>
                </AntDesign.Input>
            </FormItem>
            <FormItem Label="@L["account.login.password"]" LabelStyle="display: none">
                <AntDesign.InputPassword Placeholder="@L["account.login.password"]" Size="InputSize.Large" @bind-Value="@context.Password" Type="InputType.Password">
                    <Prefix><Icon Type="lock" /></Prefix>
                </AntDesign.InputPassword>
            </FormItem>
            <Button Type="ButtonType.Primary" HtmlType="submit" Class="submit" Size="ButtonSize.Large" Block>@L["account.login.button"]</Button>
        </Form>
    </div>
</div>
<Ajax @ref=Ajax></Ajax>