@inject Microsoft.Extensions.Localization.IStringLocalizer<BlazeGate.Dashboard.Resources.I18n> L
<GridContent>
    <Card Style="margin-bottom: 8px">
        <Form Model="Model" Layout="@FormLayout.Inline" OnFinish="async ()=>{await LoadData();}">
            <FormItem Label="@(L["service.name"])" >
                <Input @bind-Value="context.ServiceName" Style="width:183px" AllowClear />
             </FormItem>
             <FormItem>
                 <Button Type="@ButtonType.Primary" HtmlType="submit">
                     @(L["service.query"])
                 </Button>
             </FormItem>
             <FormItem>
                 @FunctionTemplate
            </FormItem>
        </Form>
    </Card>
    <Collapse @ref="Collapse" OnChange="b=>{ActiveKey=b.ToList();}" Accordion>
        @foreach (var service in Services)
        {
            <Panel Header="@service.ServiceName" Key="@service.Id.ToString()">
                <HeaderTemplate>
                    @if (HeaderTemplate == null)
                    {
                        @service.ServiceName
                    }
                    else
                    {
                        @HeaderTemplate(service)
                    }
                </HeaderTemplate>
                <ChildContent>
                    @if (ActiveKey.Contains(service.Id.ToString()))
                    {
                        @ChildContent(service)
                    }
                </ChildContent>
            </Panel>
        }
    </Collapse>
</GridContent>
