@using BlazeGate.Model.EFCore
@using System.Security.Cryptography
@using BlazeGate.Services.Interface
@using Newtonsoft.Json
@inject Microsoft.Extensions.Localization.IStringLocalizer<BlazeGate.Dashboard.Resources.I18n> L

<Form Model="Model" Loading="Loading" OnFinish="Save" LabelColSpan="2">
    <FormItem Label="@L["authRsaKey.publicKey"]" Rules="new FormValidationRule[] { new FormValidationRule { Required = true } }">
        <TextArea @bind-Value="context.PublicKey" Rows="9"></TextArea>
    </FormItem>
    <FormItem Label="@L["authRsaKey.privateKey"]" Rules="new FormValidationRule[] { new FormValidationRule { Required = true } }">
        <TextArea @bind-Value="context.PrivateKey" Rows="9"></TextArea>
    </FormItem>
    <FormItem Label="" WrapperColOffset="2">
        <Space>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" HtmlType="submit">@L["authRsaKey.save"]</Button>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="CreateKey">@L["authRsaKey.generate"]</Button>
            </SpaceItem>
        </Space>
    </FormItem>
</Form>

@code {
    [Parameter]
    public string ServiceName { get; set; }

    [Inject]
    private IServiceProvider ServiceProvider { get; set; }

    [Inject]
    private IMessageService Message { get; set; }

    private IAuthRsaKeyService AuthRsaKeyService { get; set; }

    public bool Loading { get; set; } = false;

    public AuthRsaKey Model { get; set; } = new AuthRsaKey();

    protected override async Task OnInitializedAsync()
    {
        AuthRsaKeyService = ServiceProvider.CreateScope().ServiceProvider.GetRequiredService<IAuthRsaKeyService>();
        await GetAuthRsaKeyByServiceName();
    }

    public async Task Save()
    {

        if (Loading) return;
        Loading = true;
        try
        {
            var result = await AuthRsaKeyService.SaveAuthRsaKey(ServiceName, Model);
            if (result.Success)
            {
                Message.Success(L["authRsaKey.save.success"].Value);
            }
            else
            {
                Message.Error(result.Msg);
            }
        }
        catch (Exception ex)
        {
            Message.Error(string.Format(L["authRsaKey.save.error"], ex.Message));
        }
        finally
        {
            Loading = false;
        }
    }

    public async Task GetAuthRsaKeyByServiceName()
    {
        if (Loading) return;
        Loading = true;
        try
        {
            var result = await AuthRsaKeyService.GetAuthRsaKeyByServiceName(ServiceName);
            if (result.Success)
            {
                Model = result.Data;
                if (Model == null)
                {
                    Model = new AuthRsaKey
                    {
                        ServiceName = ServiceName,
                    };
                }
            }
            else
            {
                Message.Error(result.Msg);
            }
        }
        catch (Exception ex)
        {
            Message.Error(string.Format(L["authRsaKey.load.error"], ex.Message));
        }
        finally
        {
            Loading = false;
        }
    }

    /// <summary>
    /// 生成RSA秘钥
    /// </summary>
    /// <returns></returns>
    public async Task CreateKey()
    {
        if (Loading) return;
        Loading = true;
        try
        {
            var result = await AuthRsaKeyService.CreateKey();
            if (result.Success)
            {
                Model.PublicKey = result.Data.PublicKey;
                Model.PrivateKey = result.Data.PrivateKey;
            }
            else
            {
                Message.Error(result.Msg);
            }
        }
        catch (Exception ex)
        {
            Message.Error(string.Format(L["authRsaKey.generate.error"], ex.Message));
        }
        finally
        {
            Loading = false;
        }
    }
}
