@inject Microsoft.Extensions.Localization.IStringLocalizer<BlazeGate.Dashboard.Resources.I18n> L
<TextArea @bind-Value="@AuthWhiteListStr" Rows="16" Placeholder="@L["authWhiteList.placeholder"]"></TextArea>
<div style="margin-top: 8px;position: relative;">
    <Button Type="@ButtonType.Primary" OnClick="Save">
        @L["authWhiteList.save"]
    </Button>
    <Text Style="position: absolute;top: 0px;right: 0px;" Type="TextElementType.Secondary">
        @(new MarkupString(L["authWhiteList.tips"]))
    </Text>
</div>