@inject Microsoft.Extensions.Localization.IStringLocalizer<BlazeGate.Dashboard.Resources.I18n> L
<GridContent>
    <Card Style="margin-bottom: 8px">
        <Form Model="SearchModel" Layout="@FormLayout.Inline" OnFinish="()=>{Table.ReloadData();}">
            <FormItem Label="@L["destination.index.address"]">
                <Input @bind-Value="context.Address" Style="width:183px" AllowClear />
            </FormItem>
            <FormItem Label="@L["destination.index.activeHealthState"]">
                <SimpleSelect @bind-Value="context.ActiveHealthState" Style="width:183px" AllowClear>
                    <SelectOptions>
                        <SimpleSelectOption Value="Unknown" Label="Unknown"></SimpleSelectOption>
                        <SimpleSelectOption Value="Healthy" Label="Healthy"></SimpleSelectOption>
                        <SimpleSelectOption Value="Unhealthy" Label="Unhealthy"></SimpleSelectOption>
                    </SelectOptions>
                </SimpleSelect>
            </FormItem>
            <FormItem Label="@L["destination.index.passiveHealthState"]">
                <SimpleSelect @bind-Value="context.PassiveHealthState" Style="width:183px" AllowClear>
                    <SelectOptions>
                        <SimpleSelectOption Value="Unknown" Label="Unknown"></SimpleSelectOption>
                        <SimpleSelectOption Value="Healthy" Label="Healthy"></SimpleSelectOption>
                        <SimpleSelectOption Value="Unhealthy" Label="Unhealthy"></SimpleSelectOption>
                    </SelectOptions>
                </SimpleSelect>
            </FormItem>
            <FormItem>
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    @L["destination.index.query"]
                </Button>
                <Button Type="@ButtonType.Primary" OnClick="async ()=>{await DestinationEdit.ShowAsync(context.Address,context.ServiceName,context.Token);}">
                    @L["destination.index.add"]
                </Button>
            </FormItem>
        </Form>
    </Card>
    <Card>
        <Table @ref="Table" TItem="BlazeGate.Model.EFCore.Destination" Loading="Loading" Total="Total" DataSource="DataList" OnChange="OnChange" ScrollX="100%" HidePagination RemoteDataSource Bordered Resizable>
            <ActionColumn Width="140" Title="@L["destination.index.action"]" Fixed="ColumnFixPlacement.Left">
                <Space Size=@("middle") Direction="SpaceDirection.Horizontal">
                    <SpaceItem>
                        <Popconfirm Title="@L["destination.index.delete.confirm"]" OnConfirm="async ()=>{await OnRemove(context.Address); Table.ReloadData(Table.GetQueryModel());}">
                            <a>@L["destination.index.delete"]</a>
                        </Popconfirm>
                    </SpaceItem>
                </Space>
            </ActionColumn>
            <PropertyColumn Title="@L["destination.index.address"]" Property="c=>c.Address" Ellipsis />
            <PropertyColumn Title="@L["destination.index.activeHealthState"]" Property="c=>c.ActiveHealthState" Ellipsis>
                <Text Type="GetTextTypeByHealthState(context.ActiveHealthState)">@context.ActiveHealthState</Text>
            </PropertyColumn>
            <PropertyColumn Title="@L["destination.index.passiveHealthState"]" Property="c=>c.PassiveHealthState" Ellipsis>
                <Text Type="GetTextTypeByHealthState(context.PassiveHealthState)">@context.PassiveHealthState</Text>
            </PropertyColumn>
        </Table>
    </Card>

    <DestinationEdit @ref="DestinationEdit" OnComplete="()=>{Table.ReloadData(Table.GetQueryModel());}"></DestinationEdit>
</GridContent>