@using BlazeGate.Dashboard.Components.Share
@using BlazeGate.Model.EFCore
@using BlazeGate.Model.Policies
@using System.Text.Json
@using BlazeGate.Model.WebApi.Response
@using BlazeGate.Services.Interface
@inject Microsoft.Extensions.Localization.IStringLocalizer<BlazeGate.Dashboard.Resources.I18n> L

<Form Loading="loading" Model="ServiceDetails" LabelColSpan="6" OnFinish="Save">
    <GridRow>
        <GridCol Span="12">
            <FormItem Label="@L["serviceConfig.name"]">
                <Input @bind-Value="context.Service.ServiceName" AllowClear />
            </FormItem>
        </GridCol>
        <GridCol Span="12">
            <FormItem Label="Token">
                <Input @bind-Value="context.Service.Token" AllowClear />
            </FormItem>
        </GridCol>
        <GridCol Span="12">
            <FormItem Label="@L["serviceConfig.loadBalancingPolicy"]">
                <SimpleSelect @bind-Value="context.ServiceConfig.LoadBalancingPolicy">
                    <SelectOptions>
                        <SimpleSelectOption Value="FirstAlphabetical" Label="@L["serviceConfig.loadBalancingPolicy.firstAlphabetical"]"></SimpleSelectOption>
                        <SimpleSelectOption Value="Random" Label="@L["serviceConfig.loadBalancingPolicy.random"]"></SimpleSelectOption>
                        <SimpleSelectOption Value="RoundRobin" Label="@L["serviceConfig.loadBalancingPolicy.roundRobin"]"></SimpleSelectOption>
                        <SimpleSelectOption Value="LeastRequests" Label="@L["serviceConfig.loadBalancingPolicy.leastRequests"]"></SimpleSelectOption>
                        <SimpleSelectOption Value="PowerOfTwoChoices" Label="@L["serviceConfig.loadBalancingPolicy.powerOfTwoChoices"]"></SimpleSelectOption>
                    </SelectOptions>
                </SimpleSelect>
            </FormItem>
        </GridCol>
        <GridCol Span="12">
            <FormItem Label="@L["serviceConfig.authorizationPolicy"]">
                <SimpleSelect @bind-Value="context.ServiceConfig.AuthorizationPolicy">
                    <SelectOptions>
                        <SimpleSelectOption Value="" Label="@L["serviceConfig.none"]"></SimpleSelectOption>
                        <SimpleSelectOption Value="@AuthorizationPolicies.defaultPolicies" Label="@($"{AuthorizationPolicies.defaultPolicies} ({L["serviceConfig.authorizationPolicy.default"]})")"></SimpleSelectOption>
                        <SimpleSelectOption Value="@AuthorizationPolicies.anonymous" Label="@($"{AuthorizationPolicies.anonymous} ({L["serviceConfig.authorizationPolicy.anonymous"]})")"></SimpleSelectOption>
                        <SimpleSelectOption Value="@AuthorizationPolicies.RBAC" Label="@($"{AuthorizationPolicies.RBAC} ({L["serviceConfig.authorizationPolicy.rbac"]})")"></SimpleSelectOption>
                    </SelectOptions>
                </SimpleSelect>
            </FormItem>
        </GridCol>
        <GridCol Span="12">
            <FormItem Label="@L["serviceConfig.rateLimiterPolicy"]">
                <SimpleSelect @bind-Value="context.ServiceConfig.RateLimiterPolicy">
                    <SelectOptions>
                        <SimpleSelectOption Value="" Label="@L["serviceConfig.none"]"></SimpleSelectOption>
                    </SelectOptions>
                </SimpleSelect>
            </FormItem>
        </GridCol>
        <GridCol Span="12">
            <FormItem Label="@L["serviceConfig.requestTimeout"]">
                <AntDesign.InputNumber @bind-Value="context.ServiceConfig.RequestActivityTimeout" Min="1" DefaultValue="100"></AntDesign.InputNumber> @L["serviceConfig.second"]
            </FormItem>
        </GridCol>
    </GridRow>
    <FormItem Label="@L["serviceConfig.activeHealthCheck"]" Tooltip="@L["serviceConfig.activeHealthCheck.tooltip"]" LabelColSpan="3">
        <Switch @bind-Checked="context.ServiceConfig.ActiveHealthCheckEnabled" />
    </FormItem>
    @if (context.ServiceConfig.ActiveHealthCheckEnabled)
    {
        <GridRow>
            <GridCol Span="12">
                <FormItem Label="@L["serviceConfig.activeHealthCheck.policy"]">
                    <SimpleSelect @bind-Value="context.ServiceConfig.ActiveHealthCheckPolicy">
                        <SelectOptions>
                            <SimpleSelectOption Value="ConsecutiveFailures" Label="@L["serviceConfig.activeHealthCheck.policy.consecutiveFailures"]"></SimpleSelectOption>
                        </SelectOptions>
                    </SimpleSelect>
                </FormItem>
            </GridCol>
            <GridCol Span="12">
                <FormItem Label="@L["serviceConfig.activeHealthCheck.path"]">
                    <Input @bind-Value="context.ServiceConfig.ActiveHealthCheckPath" AllowClear />
                </FormItem>
            </GridCol>
            <GridCol Span="6">
                <FormItem Label="@L["serviceConfig.activeHealthCheck.threshold"]" LabelColSpan="12">
                    <AntDesign.InputNumber @bind-Value="context.ServiceConfig.ActiveHealthCheckThreshold" DefaultValue="2"></AntDesign.InputNumber>
                </FormItem>
            </GridCol>
            <GridCol Span="6">
                <FormItem Label="@L["serviceConfig.activeHealthCheck.interval"]" LabelColSpan="12">
                    <AntDesign.InputNumber @bind-Value="context.ServiceConfig.ActiveHealthCheckInterval" Min="1" DefaultValue="5"></AntDesign.InputNumber> @L["serviceConfig.second"]
                </FormItem>
            </GridCol>
            <GridCol Span="6">
                <FormItem Label="@L["serviceConfig.activeHealthCheck.timeout"]" LabelColSpan="12">
                    <AntDesign.InputNumber @bind-Value="context.ServiceConfig.ActiveHealthCheckTimeout" Min="1" DefaultValue="5"></AntDesign.InputNumber> @L["serviceConfig.second"]
                </FormItem>
            </GridCol>
            <GridCol Span="6">
                <FormItem Label="@L["serviceConfig.activeHealthCheck.removeUnhealthy"]" Tooltip="@L["serviceConfig.activeHealthCheck.removeUnhealthy.tooltip"]" LabelColSpan="12">
                    <AntDesign.InputNumber @bind-Value="context.ServiceConfig.ActiveRemoveUnhealthyAfter" Min="0" DefaultValue="30"></AntDesign.InputNumber> @L["serviceConfig.minute"]
                </FormItem>
            </GridCol>
        </GridRow>
    }
    <FormItem Label="@L["serviceConfig.passiveHealthCheck"]" Tooltip="@L["serviceConfig.passiveHealthCheck.tooltip"]" LabelColSpan="3">
        <Switch @bind-Checked="context.ServiceConfig.PassiveHealthCheckEnabled" />
    </FormItem>
    @if (context.ServiceConfig.PassiveHealthCheckEnabled)
    {
        <GridRow>
            <GridCol Span="12">
                <FormItem Label="@L["serviceConfig.passiveHealthCheck.policy"]">
                    <SimpleSelect @bind-Value="context.ServiceConfig.PassiveHealthCheckPolicy">
                        <SelectOptions>
                            <SimpleSelectOption Value="@PassiveHealthCheckPolicies.TransportFailureRate" Label="@($"{PassiveHealthCheckPolicies.TransportFailureRate} ({L["serviceConfig.passiveHealthCheck.policy.transportFailureRate"]})")"></SimpleSelectOption>
                            <SimpleSelectOption Value="@PassiveHealthCheckPolicies.FirstUnsuccessfulResponse" Label="@($"{PassiveHealthCheckPolicies.FirstUnsuccessfulResponse} ({L["serviceConfig.passiveHealthCheck.policy.firstUnsuccessfulResponse"]})")"></SimpleSelectOption>
                        </SelectOptions>
                    </SimpleSelect>
                </FormItem>
            </GridCol>
            <GridCol Span="6">
                <FormItem Label="@L["serviceConfig.passiveHealthCheck.reactivationPeriod"]" LabelColSpan="12" Tooltip="@L["serviceConfig.passiveHealthCheck.reactivationPeriod.tooltip"]">
                    <AntDesign.InputNumber @bind-Value="context.ServiceConfig.PassiveHealthCheckReactivationPeriod" Min="1" DefaultValue="60"></AntDesign.InputNumber> @L["serviceConfig.second"]
                </FormItem>
            </GridCol>
            @if (context.ServiceConfig.PassiveHealthCheckPolicy == PassiveHealthCheckPolicies.TransportFailureRate)
            {
                <GridCol Span="6">
                    <FormItem Label="@L["serviceConfig.passiveHealthCheck.failureRate"]" LabelColSpan="12" Tooltip="@L["serviceConfig.passiveHealthCheck.failureRate.tooltip"]">
                        <AntDesign.InputNumber @bind-Value="context.ServiceConfig.PassiveHealthCheckFailureRate" Min="0" Max="1" DefaultValue="0.5F"></AntDesign.InputNumber>
                    </FormItem>
                </GridCol>
            }
        </GridRow>
    }
    <FormItem Label="@L["serviceConfig.sessionAffinity"]" Tooltip="@L["serviceConfig.sessionAffinity.tooltip"]" LabelColSpan="3">
        <Switch @bind-Checked="context.ServiceConfig.SessionAffinityEnabled" />
    </FormItem>
    @if (context.ServiceConfig.SessionAffinityEnabled)
    {
        <GridRow>
            <GridCol Span="12">
                <FormItem Label="@L["serviceConfig.sessionAffinity.policy"]">
                    <SimpleSelect @bind-Value="context.ServiceConfig.SessionAffinityPolicy">
                        <SelectOptions>
                            <SimpleSelectOption Value="HashCookie" Label="@L["serviceConfig.sessionAffinity.policy.hashCookie"]"></SimpleSelectOption>
                            <SimpleSelectOption Value="ArrCookie" Label="@L["serviceConfig.sessionAffinity.policy.arrCookie"]"></SimpleSelectOption>
                            <SimpleSelectOption Value="Cookie" Label="@L["serviceConfig.sessionAffinity.policy.cookie"]"></SimpleSelectOption>
                            <SimpleSelectOption Value="CustomHeader" Label="@L["serviceConfig.sessionAffinity.policy.customHeader"]"></SimpleSelectOption>
                        </SelectOptions>
                    </SimpleSelect>
                </FormItem>
            </GridCol>
            <GridCol Span="12">
                <FormItem Label="@L["serviceConfig.sessionAffinity.failurePolicy"]">
                    <SimpleSelect @bind-Value="context.ServiceConfig.SessionAffinityFailurePolicy">
                        <SelectOptions>
                            <SimpleSelectOption Value="Redistribute" Label="@L["serviceConfig.sessionAffinity.failurePolicy.redistribute"]"></SimpleSelectOption>
                            <SimpleSelectOption Value="Return503Error" Label="@L["serviceConfig.sessionAffinity.failurePolicy.return503Error"]"></SimpleSelectOption>
                        </SelectOptions>
                    </SimpleSelect>
                </FormItem>
            </GridCol>
            <GridCol Span="12">
                <FormItem Label="@L["serviceConfig.sessionAffinity.keyName"]">
                    <Input @bind-Value="context.ServiceConfig.SessionAffinityKeyName" AllowClear />
                </FormItem>
            </GridCol>
            @if (context.ServiceConfig.SessionAffinityPolicy != null && context.ServiceConfig.SessionAffinityPolicy.Contains("Cookie"))
            {
                <GridCol Span="6">
                    <FormItem Label="@L["serviceConfig.sessionAffinity.cookieHttpOnly"]" LabelColSpan="12">
                        <Switch @bind-Checked="context.ServiceConfig.SessionAffinityCookieHttpOnly" />
                    </FormItem>
                </GridCol>
                <GridCol Span="6">
                    <FormItem Label="@L["serviceConfig.sessionAffinity.cookieMaxAge"]" LabelColSpan="12">
                        <AntDesign.InputNumber @bind-Value="context.ServiceConfig.SessionAffinityCookieMaxAge" Min="1"></AntDesign.InputNumber> @L["serviceConfig.second"]
                    </FormItem>
                </GridCol>
            }
        </GridRow>
    }

    <FormItem WrapperColOffset="3">
        <Space>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" HtmlType="submit">@L["serviceConfig.save"]</Button>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" OnClick="CopyDestinationConfig">@L["serviceConfig.copy"]</Button>
            </SpaceItem>
        </Space>
    </FormItem>
</Form>
<CopyToClipboard @ref="CopyToClipboard"></CopyToClipboard>