@using BlazeGate.RBAC.Components.Layouts
@layout UserLayout
@page "/login"
@attribute [ReuseTabsPage(Ignore = true)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<BlazeGate.RBAC.Components.Resources.I18n> L

<div class="main__b__0">
    <div class="login">
        <Form Loading="Loading" Model="@Model" OnFinish="HandleSubmit">
            <FormItem Required Label="@(L["account.login.account"])" LabelStyle="display: none;">
                <AntDesign.Input Placeholder="@(L["account.login.account"] )" Size="InputSize.Large" @bind-Value="@context.Account">
                    <Prefix><Icon Type="user" /></Prefix>
                </AntDesign.Input>
            </FormItem>
            <FormItem Required Label="@(L["account.login.password"])" LabelStyle="display: none;">
                <AntDesign.InputPassword Placeholder="@(L["account.login.password"] )" Size="InputSize.Large" @bind-Value="@context.Password">
                    <Prefix><Icon Type="lock" /></Prefix>
                </AntDesign.InputPassword>
            </FormItem>
            <Button Type="ButtonType.Primary" HtmlType="submit" Class="submit" Size="ButtonSize.Large" Block>@L["account.login.button"]</Button>
        </Form>
    </div>
</div>