@page "/Page/Index"
@inject MessageService Message
@using AntDesign
@using AntDesign.ProLayout
@using AntDesign.TableModels
@using BlazeGate.RBAC.Components.Models
@inject Microsoft.Extensions.Localization.IStringLocalizer<BlazeGate.RBAC.Components.Resources.I18n> L

<Spin Spinning=Loading>
    <Card>
        <CardGrid Style="width:50%">
            <Tree @ref="Tree" DefaultExpandAll Draggable BlockNode ShowIcon
                  DataSource="TreeList"
                  TitleExpression='x =>x.DataItem.Title'
                  ChildrenExpression="x => x.DataItem.Children"
                  IconExpression="x => x.DataItem.Icon"
                  KeyExpression="x => x.DataItem.Id.ToString()"
                  TItem="PageNode"
                  SelectedKeysChanged="SelectedKeysChanged"
                  OnDrop="OnDrop">
                <TitleTemplate Context="item">
                    @item.DataItem.Title @(item.DataItem.Type == 0 ? $"({L["page.menu"]})" : $"({L["page.button"]})")
                </TitleTemplate>
            </Tree>
        </CardGrid>
        <CardGrid Style="width:50%">
            <Form @ref="Form" Model="Model" Size="FormSize.Default" LabelColSpan="3" OnFinish="OnFinish" ValidateMode="@FormValidateMode.Rules">
                <FormItem Label="@(L["page.title"] )" Rules="new FormValidationRule[]{new FormValidationRule(){Required=true},new FormValidationRule(){Max=64}}">
                    <Input @bind-Value="context.Title" AllowClear />
                </FormItem>
                <FormItem Label="@(L["page.parent"] )">
                    <TreeSelect AllowClear
                                TreeDefaultExpandAll
                                TItem="PageNode"
                                TItemValue="string"
                                DataSource="TreeList"
                                @bind-Value="Model.ParentPageIdStr"
                                Placeholder="@(L["page.select"] )"
                                ChildrenExpression="node=>node.DataItem.Children"
                                TitleExpression="node=>node.DataItem.Title"
                                KeyExpression="node=>node.DataItem.Id.ToString()">
                        <TitleTemplate Context="item">
                            @item.DataItem.Title @(item.DataItem.Type == 0 ? $"({L["page.menu"]})" : $"({L["page.button"]})")
                        </TitleTemplate>
                        <LabelTemplate Context="item">
                            @item.Title @(item.Type == 0 ? $"({L["page.menu"]})" : $"({L["page.button"]})")
                        </LabelTemplate>
                    </TreeSelect>
                </FormItem>
                <FormItem Label="@(L["page.index"] )">
                    <AntDesign.InputNumber Style="width:100%" @bind-Value="context.IndexNumber" Min="0"></AntDesign.InputNumber>
                </FormItem>
                <FormItem Label="@(L["page.type"] )">
                    <RadioGroup @bind-Value="context.Type">
                        <Radio Value="0">@L["page.menu"]</Radio>
                        <Radio Value="1">@L["page.button"]</Radio>
                    </RadioGroup>
                </FormItem>
                <FormItem Label="@(L["page.icon"] )" Rules="new FormValidationRule[]{new FormValidationRule(){Max=64}}">
                    <Input @bind-Value="context.Icon" AllowClear />
                </FormItem>
                <FormItem Label="@(L["page.path"] )" Rules="new FormValidationRule[]{new FormValidationRule(){Max=128}}">
                    <Input @bind-Value="context.Path" AllowClear />
                </FormItem>
                <FormItem Label="@(L["page.subPath"] )" Rules="new FormValidationRule[]{new FormValidationRule(){Max=2048}}">
                    <TextArea Rows="4" @bind-Value="context.SubPath" AllowClear />
                </FormItem>
                <FormItem WrapperColOffset="3">
                    <Space Size=SpaceSize.Small Direction="SpaceDirection.Horizontal">
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" OnClick="()=>{Model.Id=0;Form.Submit();}">@L["page.add"]</Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" OnClick="()=>{Form.Submit();}">@L["page.edit"]</Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Popconfirm Title="@(L["page.delete.confirm"] )" OnConfirm="async ()=>{await OnRemove(context.Id);}">
                                <Button Type="@ButtonType.Primary" Danger>@L["page.delete"]</Button>
                            </Popconfirm>
                        </SpaceItem>
                    </Space>
                </FormItem>
            </Form>
        </CardGrid>
    </Card>
</Spin>